.store-top-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 22rem));
    grid-template-rows: auto;
    gap: 3rem;
    place-content: center;
    width: 100vw;
    height: 100vh;
    background: url(./components/background.jpg) center center no-repeat;
    overflow: auto;
}
.card{
    height: 35.625em;
    filter: drop-shadow(0px 4px 70px rgba(0, 0, 0, 0.1));
    background-color: rgba(255, 255, 255, 1);
    border-radius: 25px;
}
.card-content{
    font-size: 1rem;
}
.card-title{
    margin: 0 3.125rem;
}
.card-btn{
    width: 18.75rem;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background: linear-gradient(151deg, rgba(51,160,209,1) 20%, rgba(55,52,133,1) 54%, rgba(197,43,48,1) 100%);
    border-radius: 40px;
    border: none;
    margin: 10px 25px;
    transition: .2s;
}
.card-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.card-img:hover{
    transition: .2s;
    transform: scale(1.1);
}