.sign-btn{
    width: 400px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background: linear-gradient(151deg, rgba(51,160,209,1) 20%, rgba(55,52,133,1) 54%, rgba(197,43,48,1) 100%);
    border-radius: 40px;
    border: none;
}
.sign-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.connect-btn{
    display: flex;
    justify-content: space-between;
}
.icon-btn{
    width: 125px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #BCBEC0;
    box-sizing: border-box;
    border-radius: 40px;
    cursor: pointer;
}
.icon-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.continue-text{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #798995;
    display: flex;
    justify-content: center;
    margin-top: 45px;
}
